apiVersion: v1
values:
  images:
    minio: docker.io/bitnamilegacy/minio:2025.6.13-debian-12-r0
    client: docker.io/bitnamilegacy/minio-client:2025.5.21-debian-12-r6
    osShell: docker.io/bitnamilegacy/os-shell:12-debian-12-r47
    console: docker.io/bitnamilegacy/minio-object-browser:2.0.2-debian-12-r0
    kubectl: docker.io/alpine/kubectl:1.34.1
patches:
  values.yaml:
    upgradeContainer:
      kubectl:
        image:
          registry: "{{ registryFrom .images.kubectl }}"
          repository: "{{ repositoryFrom .images.kubectl }}"
          tag: "{{ tagFrom .images.kubectl }}"
    minio:
      image:
        registry: "{{ registryFrom .images.minio }}"
        repository: "{{ repositoryFrom .images.minio }}"
        tag: "{{ tagFrom .images.minio }}"
      clientImage:
        registry: "{{ registryFrom .images.client }}"
        repository: "{{ repositoryFrom .images.client }}"
        tag: "{{ tagFrom .images.client }}"
      console:
        image:
          registry: "{{ registryFrom .images.console }}"
          repository: "{{ repositoryFrom .images.console }}"
          tag: "{{ tagFrom .images.console }}"
      defaultInitContainers:
        volumePermissions:
          image:
            registry: "{{ registryFrom .images.osShell }}"
            repository: "{{ repositoryFrom .images.osShell }}"
            tag: "{{ tagFrom .images.osShell }}"
